[Unit]
Description=Loggestd Daemon

[Service]
Type=simple
ExecStart=/usr/bin/loggestd --directory /opt/infinio/run
Restart=always

[Install]
WantedBy=multi-user.target
